<!DOCTYPE html>
<html lang="en">
<head>
    <title>List Political Parties</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <!-- put navbar here -->
            <div class="banner">Politico</div>
            <div class="username">Admin</div>
        </div>
        <div class="content">
            <div class="sidebar">
                <!-- to contain sidebar menu -->
                <div class="sidebar-menu">
                    <a href="#">Political Parties</a>
                </div>
                <div class="sidebar-menu">
                    <a href="#">Voters</a>
                </div>
            </div>
            <div class="content-detail">
                <h3>Create Office</h3>
                <div class="party-container">
                    <form>
                        Office Name:<br>
                        <input type="text" name="party name" placeholder="enter party  name" required>
                        <br>
                        <br>
                        <!-- for the tag line use text area since you are unsureof the length of the party slogan -->
                        Office Description:<br>
                        <textarea rows="4" cols="50">
                            
                        </textarea>
                        
                        <br>
                        <br>
                        <input type="submit" name="Create" value="Create">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
