<!DOCTYPE html>
<html lang="en">
<head>
    <title>List Political Parties</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <!-- put navbar here -->
            <div class="banner"><a href="position_list.html">Politico</a></div>
            <div class="username">Admin</div>
        </div>
        <div class="content">
            <div class="sidebar">
                <!-- to contain sidebar menu -->
                <div class="sidebar-menu">
                    <a href="#">Political Parties</a>
                </div>
                <div class="sidebar-menu">
                    <a href="#">Voters</a>
                </div>
            </div>
            <div class="content-detail">
                <h3>Delete Office</h3>
                <div class="party-container">

                    <h4>Are you sure you wan to delete party?</h4>
                    <div class="btns">
                        <button class="button" type="button">Yes</button> 
                        <button class="button" type="button">cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
