<!DOCTYPE html>
<html lang="en">
<head>
    <title>List Political Parties</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <!-- put navbar here -->
        </div>
        <div class="content">
            <div class="sidebar">
                <!-- to contain sidebar menu -->
            </div>
            <div class="content-detail">
                <h3>Political Parties</h3>
                <div class="party-detail">
                    <div class="party-name"><span>First Party</span></div>
                    <div class="contestant-count"><span>21</span></div>
                    <div class="party-actions">
                        <span>Edit</span>
                        <span>Delete</span>
                    </div>
                </div>
                <div class="party-detail">
                    <div class="party-name"><span>First Party</span></div>
                    <div class="contestant-count"><span>21</span></div>
                    <div class="party-actions">
                        <span>Edit</span>
                        <span>Delete</span>
                    </div>
                </div>
                <div class="party-detail">
                    <div class="party-name"><span>First Party</span></div>
                    <div class="contestant-count"><span>21</span></div>
                    <div class="party-actions">
                        <span>Edit</span>
                        <span>Delete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>