<!DOCTYPE html>

<html>
<head>
	<title>sign in</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/app.css">
</head>
<body>
	<div class="container">
		<div class="navbar">
			<!-- put navbar here -->
			<div class="banner"><a href="../index.html">Politico</a></div>
			<div class="username">Sign In</div>
		</div>
		<div class="auth-form">
			<h1>password Reset</h1>
			<form class="details">
			
				Old Password:<br>
				<input type="text" name="enter email" placeholder="name" required>
				<br>
				<br>
				New password:<br>
				<input type="password" name="enter password" placeholder="password" required>
				<br>
                <br>
                Confirm password:<br>
				<input type="password" name="enter password" placeholder="password" required>
				<br>
				<br>
				<input class="btn" type="submit" name="sign in" value="Reset">
	
			</form>
		</div>
	</div>
</body>
</html>