<!DOCTYPE html>

<html>
<head>
	<title>sign in</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/app.css">
</head>
<body>
	<div class="container">
		<div class="navbar">
			<!-- put navbar here -->
			<div class="banner">Politico</div>
			<div class="username">Sign In</div>
		</div>
		<div class="auth-form">
			<h1>Sign Up</h1>
			<form class="details">
					first name:<br>
					<input type="text" name="first name" placeholder="enter first name" required>
					<br>
					<br>
					last name:<br>
					<input type="text" name="enter last name" placeholder="enter last name" required>
					<br>
					<br>
					email:<br>
					<input type="text" name="enter email" placeholder="enter email"required>
					<br>
					<br>
					password:<br>
					<input type="password" name="create password" placeholder="create password" required>
					<br>
					<br>
					<input type="password" name="confirm password" placeholder="confirm password" required>
					<br>	
					<br>
					<input class="btn" type="submit" name="submit" placeholder="submit">
			
				
	
			</form>
		</div>
	</div>
</body>
</html>


























<!-- remember to include the caroussel on the home page
<!DOCTYPE html>
<html>
<head>
	<title>sign up </title>
	<div>
		<center><h1>SEND IT</h1>
			<fieldset>
				<legend><b>Sign Up Details</b></legend>
				<br>
				<form width = "60%">
					first name:<br>
					<input type="text" name="first name" placeholder="enter first name" required>
					<br>
					<br>
					last name:<br>
					<input type="text" name="enter last name" placeholder="enter last name" required>
					<br>
					<br>
					email:<br>
					<input type="text" name="enter email" placeholder="enter email"required>
					<br>
					<br>
					password:<br>
					<input type="password" name="create password" placeholder="create password" required>
					<br>
					<br>
					<input type="password" name="confirm password" placeholder="confirm password" required>
					<br>	
					gender:<br>
					<br>
					<input type="radio" name="gender" value="male">male
					<input type="radio" name="gender" value="female">female
					<br>
					<br>
					<input type="submit" name="submit" placeholder="submit">
				</form>
			</fieldset>
		</center>
	</div>
</head>
<body>

</body>
</html> -->