<!DOCTYPE html>
<html lang="en">
<head>
    <title>List Political Parties</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <!-- put navbar here -->
            <div class="banner"><a href="../index.html">Politico</a></div>
            <div class="username">Admin</div>
        </div>
        <div class="content">
            <div class="sidebar">
                <!-- to contain sidebar menu -->
                <div class="sidebar-menu">
                    <a href="#">Political Parties</a>
                </div>
                <div class="sidebar-menu"><a href="position_list.html">Positions</a></div>
                <div class="sidebar-menu"><a href="list-political-parties.html">Parties</a></div>
                <div class="sidebar-menu">
                    <a href="#">Voters</a>
                    
                </div>
            </div>
            <div class="content-detail">
                <h3>PRESIDENT</h3>
                <div class="party-container">
                    <div class="select-contestant">
                        <form>
                            <div>
                                <img src="../images/koshy.jpeg" alt="">
                                James Charles<input type="radio" name="vote" value="James Charles"> 
                            </div>
                            <br>
                            <div>
                                <img src="../images/koshy.jpeg" alt="">
                                Liza Koshy<input type="radio" name="vote" value="Liza Koshy">
                                
                            </div>
                            <br>
                            <div>
                                <img src="../images/koshy.jpeg" alt="">
                                One Two<input type="radio" name="vote" value="One Two">
                                
                            </div>
                            <br>
                            <div>
                                <img src="../images/koshy.jpeg" alt="">
                                Deborah Maina<input type="radio" name="vote" value="Deborah Maina"> 
                                
                            </div>
                            <input class="btn" type="submit" value="Vote">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
